{% extends 'base.html' %} {% block header %}Post Details{% endblock %} {% block
content %}

<h2>{{post.title}}</h2>
<p class="lead">{{post.content}}</p>
<p class="font-italic">By {{post.user.full_name}} on {{post.created_at}}</p>
<form>
  <button formaction="/users/{{post.user.id}}" class="btn btn-outline-primary">
    Back
  </button>
  <button formaction="/posts/{{post.id}}/edit" class="btn btn-primary">
    Edit
  </button>
  <button
    formaction="/posts/{{post.id}}/delete"
    formmethod="post"
    class="btn btn-danger"
  >
    Delete
  </button>
</form>
{% endblock %} {% block homeBtn %} {% endblock %}
