{% extends base.html %} {% block header %}Edit A User{% endblock %} {% block
content %}
<form href="/users/<int:id>/edit" method="POST">
  <div class="form-group">
    <label for="first-name-input">First Name</label>
    <input
      type="text"
      class="form-control"
      id="first-name-input"
      name="first-name"
      value="{{user.first_name}}"
    />
  </div>
  <div class="form-group">
    <label for="last-name-input">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="last-name-input"
      name="last-name"
      value="{{user.last_name}}"
    />
  </div>
  <div class="form-group">
    <label for="img-input">Image URL</label>
    <input
      type="text"
      class="form-control"
      id="img-input"
      name="img-url"
      value="{{user.img_url}}"
    />
  </div>
  <button type="submit" class="btn btn-outline-info">Cancel</button>
  <button type="submit" class="btn btn-success">Save</button>
</form>
{% endblock %}
